GH_USER="Z3nt13"
GH_REPO="PLUZ"
GH_BRANCH="main"
GH_TOKEN="YOUR_GITHUB_TOKEN_HERE"
PORTABLE_MODE="true"
PORTABLE_GIT_PATH="D:\portapps\git\cmd\git.exe"
PORTABLE_PWSH_PATH="D:\portapps\PowerShell\pwsh.exe"
